<section class="features-icons bg-light">
    <div class="row-fluid-wrapper row-depth-1 row-number-5 dnd_area-row-1-padding dnd-section">
        <div class="dnd-section">
            <p style="font-size: 22px; line-height: 1.25;"><span style="color: #002e47;">As a distributor, you are continuously aspiring to find the balance between optimum excellence in your supply chain and service levels– all while supporting the bigger picture of expansion, profits, and reduction in obsolete inventory.&nbsp;</span></p>
            <p style="font-size: 22px; line-height: 1.25;"><span style="background-color: #ffffff; color: #002e47;">With the Slim4 Value Analysis, you can evaluate your estimated benefits in less than two minutes. </span><span style="color: #002e47;">From a quick glimpse to a detailed overview– download your assessment on how Slim4 heightens your supply chain in the next one year.</span></p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h2 style="margin-top: 12pt; margin-right: 0cm; margin-bottom: 0.0001pt; text-align: center; font-size: 30px; line-height: 214%;">How Our Customers have Benefited by Working With Us:</h2>
        </div>
        <div>
            <img src="../../assets/slimS.png" width="1550" height="200">
        </div>
    </div >
    <br>
    <br>

    <div class="dnd_area-row-3-background-image dnd_area-row-3-padding">
        <span id="hs_cos_wrapper_widget_1654168133096_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><p style="text-align: center; font-size: 24px; font-weight: bold;"><span style="color: #ffffff;">Enter information below to see a real-time overview of estimated benefits you can attain with Slimstock</span></p>
        <p style="text-align: center; font-size: 24px; font-weight: bold;"><span style="color: #ffffff;">Don't forget to download the Value Analysis Report for details</span></p></span>
    </div>
</section>
<br>
<br>
<div class="container">
    <div class="row">
        <!-- <button class="btn btn-primary" (click)="openModal()">Open modal</button> -->
    </div>
</div >
<!-- <form class="contact-form" (submit)="sendEmail($event)">
    <label>Name</label>
    <input type="text" name="user_name">
    <label>Email</label>
    <input type="email" name="user_email">
    <label>Message</label>
    <textarea name="message"></textarea>
    <input type="submit" value="Send">
</form> -->